<!--/.add-your-store-->
<section id="add-store" class="add-your-store">
	<div class="container">
		<div class="add-your-store-txt">
			<h2>add your store</h2>
			<p>
				Add your store or bussiness to PayAda Directories
				and be found all over the world 
			</p>
		</div>


		<div class="temporary-form">
			<form [formGroup]="addStoreForm" (ngSubmit)="onSubmit()">
				<div>
					<label for="store-name">
						Store Name
					</label>
					<input id="store-name" type="text" formControlName="name">
				</div>
				<div>
					<label for="address">
						Address
					</label>
					<input id="address" type="text" formControlName="address">
				</div>
				<div>
					<label for="website">
						Website
					</label>
					<input id="website" type="text" formControlName="website">
				</div>
				<div>
					<label for="country">
						Country
					</label>
					<select id="country" formControlName="country">
						<option *ngFor="let country of countries" [ngValue]="country.url">
							{{ country.name }}
						</option>
					</select>
				</div>
				<div>
					<label for="image">
						Image
					</label>
					<input id="image" type="file" (change)="onFileChanged($event)" formControlName="picture">
				</div>
				<p>Complete the required fields to add your store</p>

				<button class="button" type="sumbit">Add Store</button>

			</form>
		</div>
	</div>
		


		

</section><!--/.add-your-store-->
<!--add-your-store end -->