<div style="text-align:left">
		<!--explore start -->
		<section id="explore" class="explore">
			<div class="container">
				<div class="section-header">
					<p>This feature is still under implementation. For the time
                     being please fill out the following Google Form to add
                      your store:</p>
                    <div class="add-your-store">
                        <a href="https://forms.gle/wNRiBJmYF7FnKDtJ6"> Add your
                         store - Google Form</a>
                    </div>                    
				</div><!--/.section-header-->
				<div class="explore-content">
					<div class="row">



					</div>
				</div>
			</div><!--/.container-->

		</section><!--/.explore-->
		<!--explore end -->
</div>